body {
    font-family: Arial, sans-serif;
    background-color: #d4f2bd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    background-color: white;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 5px;
}

.movie-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.movie-card p {
    font-size: 14px;
    color: #555;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.pagination button:disabled {
    background-color: #0c0c0c;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

#page-info {
    font-size: 16px;
    vertical-align: middle;
}
